<h1>Places</h1>

<ul>
<%if @current_user%>
  <% for place in @myplaces %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
<% end %>


<p>
  <a class="btn btn-primary" href="/places/new" role="button">New Place</a>
</p>